flow.json
[{"id":"70ceeb44.befc04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4dc276d4.904638","type":"http in","z":"70ceeb44.befc04","name":"","url":"/quote","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["af302701.a6ef48"]]},{"id":"af302701.a6ef48","type":"http request","z":"70ceeb44.befc04","name":"","method":"GET","ret":"txt","url":"https://api.forismatic.com/api/1.0/?method=getQuote&lang=en&format=json","tls":"","x":320,"y":100,"wires":[["c1f4d69a.4380f8","10dc7e83.d26f11"]]},{"id":"60a181ed.47763","type":"sentiment","z":"70ceeb44.befc04","name":"","property":"payload.quoteText","x":270,"y":160,"wires":[["95f067da.60a7e8"]]},{"id":"d00c1303.e7d1a","type":"http response","z":"70ceeb44.befc04","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":570,"y":160,"wires":[]},{"id":"95f067da.60a7e8","type":"function","z":"70ceeb44.befc04","name":"","func":"msg.payload = {\n    text: msg.payload.quoteText.trim(),\n    author: msg.payload.quoteAuthor.trim(),\n    sentiment: msg.sentiment.score,\n    word_count: msg.sentiment.tokens.length,\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["d00c1303.e7d1a"]]},{"id":"c1f4d69a.4380f8","type":"debug","z":"70ceeb44.befc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":100,"wires":[]},{"id":"4a96338e.87d7ac","type":"catch","z":"70ceeb44.befc04","name":"","scope":null,"x":220,"y":260,"wires":[["c468adbb.3fab9","7eb392ad.ff569c"]]},{"id":"c468adbb.3fab9","type":"debug","z":"70ceeb44.befc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","x":390,"y":260,"wires":[]},{"id":"31c14de7.f0f972","type":"http response","z":"70ceeb44.befc04","name":"","statusCode":"500","headers":{"Access-Control-Allow-Origin":"*"},"x":390,"y":320,"wires":[]},{"id":"7eb392ad.ff569c","type":"function","z":"70ceeb44.befc04","name":"","func":"msg.payload = msg.error.message\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["31c14de7.f0f972"]]},{"id":"10dc7e83.d26f11","type":"json","z":"70ceeb44.befc04","name":"","property":"payload","action":"","pretty":false,"x":110,"y":160,"wires":[["60a181ed.47763"]]}]